<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="outline">
    	<h3>Submitted Information:</h3>
		<p>Name: </p><p><%= name %></p>
		<p>Location: </p><p><%= location %></p>
		<p>Favorite Language: </p><p><%= language %></p>
		<p>Comment (optional): </p><p><%= comment %></p>
		<a href="/"><button class="button">Go Back</button></a>
    </div>
</body>
</html>
